:local(.userList) {
  list-style: none;
  padding: 0;
}

:local(.userList) > li{
  display: flex;
  align-items: center;
}

:local(.userList) > li:before{
  font-weight: 900;
  font-size: 2rem;
}

:local(.userListItem--female):before {
  content: '♀';
}

:local(.userListItem--male):before {
  content: '♂';
}